doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title Ismael Y Santi
    body 
        include ./header.pug
        main
            h1 La ONG que ayuda a los programadores más quemados:
            p En "Code Food" estamos aquí para hablar en nombre de todos los programadores mal 
            p alimentados. En nuestra organización, nos dedicamos a brindar ayuda y apoyo a 
            p aquellos programadores que, lamentablemente, no tienen acceso a una alimentación 
            p adecuada.
            P Sabemos que para lograr un rendimiento óptimo y desarrollar todo nuestro potencial, 
            p necesitamos una nutrición adecuada. Nos esforzamos por brindar alimentos nutritivos
            P  y equilibrados a estos talentosos profesionales que, a menudo, se encuentran 
            p inmersos en proyectos exigentes y largas horas de trabajo.
            P Creemos firmemente que nadie debería tener que lidiar con la falta de alimentos 
            P saludables mientras se dedica a su pasión por la programación. Nuestro objetivo 
            P es asegurarnos de que cada programador reciba una alimentación adecuada para que 
            P puedan concentrarse en lo que mejor saben hacer: crear soluciones innovadoras y 
            P desarrollar software de calidad.
        //- include ./footer.pug
        //- script(src="script.js")